@using Adf.FrameWork.Interface.Entity
@using Adf.FrameWork.Service.HtmlHelperEx
@using CYQ.Data.Table
@using Adf.FrameWork.Service.LayUi
@{
    //2018.10.20  侯鑫辉 管理员管理企业 列表

    /*系统参数*/
    Layout = "../master/master.list.cshtml";
    MDataRow curGlobalApp = ViewBag.GlobalApp ?? new MDataRow();
    MDataRow curGlobalUserLogin = ViewBag.GlobalUserLogin ?? new MDataRow();
    String curGlobalUserCode = ViewBag.GlobalUserCode ?? "";
    String curGlobalModuleCode = ViewBag.GlobalModuleCode ?? "";
    MDataTable curGlobalUserPermission = ViewBag.GlobalUserPermission ?? new MDataTable();
    MDataRow curGlobalModuleEntity = ViewBag.GlobalModuleEntity ?? new MDataRow();
    String curGlobalAdminResPath = ViewBag.GlobalAdminResPath ?? "";

    /*页面参数*/
    String curController = "/ent/company";

}

@section MainQuery
{
    <div class="layui-inline">
        <label class="layui-form-label">企业名称:</label>
        <div class="layui-inline">
            @Html.LayUiStdInput(new LayUiInputAttr() { Id = "companyname" })
        </div>
    </div>
    <div class="layui-inline">
        <div class="layui-inline">
            @Html.LayUiSamllButton("搜 索", "btnSearch")
        </div>
    </div>
}

@section MainTool
{
    @Html.LayUiButton("增加", "add")
}

@section MainTableRowTool
{
    @Html.LayUiButton("修改", " layui-btn layui-btn-xs layui-btn-normal modify ", "", "lay-event='modify'")
    @Html.LayUiButton("初始化", " layui-btn layui-btn-xs layui-btn-normal resset ", "", "lay-event='resset'")
    @Html.LayUiButton("新增管理员", " layui-btn layui-btn-xs layui-btn-normal adduser ", "", "lay-event='adduser'")
    @Html.LayUiButton("删除", " layui-btn layui-btn-xs layui-btn-danger delete ", "", "lay-event='delete'")
}

@section MainBottom
{
    <script>
        var curRetDoCmd = "";

        layui.config({
            base: '@curGlobalAdminResPath/layuiadmin/lib/' //静态资源所在路径
        }).use(['table', 'layer', 'element', 'adfCommon'],
            function() {
                var table = layui.table,
                    layer = layui.layer,
                    element = layui.element,
                    adfCommon = layui.adfCommon;

                /*函数*/
                //重新加载数据
                function reloadData() {
                    //查询条件
                    var sWhere = {};
                    sWhere.companyname = escape($("#companyname").val());

                    //重新加载
                    adfCommon.reloadStdTable(table, sWhere);
                }

                var colfmt_companystatus = function(d) {
                    var str = "";
                    if (d.companystatus == "0") {
                        str = "<span style='color:red;'>禁用</span>";
                    } else if (d.companystatus == "1") {
                        str = "<span style='color:green;'>启用</span>";
                    }
                    return str;
                }


                /*表格信息*/
                //列
                var colInfo = [
                    [
                        { type: 'checkbox', fixed: 'left' },
                        { field: 'companyname', title: '企业名称' },
                        { field: 'companylegalperson', title: '企业法人' },
                        { field: 'founddate', title: '成立时间' },
                        { field: 'companystatus', title: '企业状态', templet: colfmt_companystatus },
                        { width: 300, title: '操作', fixed: 'right', toolbar: '#tableRowTool' } //设置固定
                    ]
                ];

                //数据（通过控制器找到getlistdata方法 获取数据）
                var dataUrl = "@curController/AdminGetList";

                //页面显示20条信息
                var pageSize = 20;

                //初始查询条件
                var sWhere = {};

                //初始化
                adfCommon.setStdTable(table,
                    colInfo,
                    dataUrl,
                    pageSize,
                    sWhere,
                    function(row) {
                        var rowData = row.data;
                        if (row.event == 'modify') {

                            curRetDoCmd = "";
                            var companycode = rowData.companycode;
                            var sUrl =
                                "@curController/admindetail?docmd=modify&mccode=@curGlobalModuleCode&companycode=" +
                                    companycode;
                            adfCommon.dlgOpen("修改信息",
                                sUrl,
                                '100%',
                                '100%',
                                function() {
                                    if (curRetDoCmd == "101") {
                                        reloadData();
                                    }
                                });
                        } else if (row.event == 'resset') {
                         
                               layer.confirm('确认要初始化该公司基础数据吗?',
                                function(index) {
                                    var companycode = rowData.companycode;
                                    var sUrl = "@curController/Execute?docmd=restart";
                                    var param = {};
                                    param.companycode = companycode;
                                    //post提交
                                    adfCommon.ajaxSyncPost(sUrl,
                                        param,
                                        function(retData) {
                                            adfCommon.alert(retData.RetValue);
                                            if (retData.RetStatus != 400) {
                                                //关闭对话框
                                                layer.close(index);
                                            
                                            }
                                        },
                                        function() {});
                                });
                        }
                        else if (row.event == 'delete') {
                            layer.confirm('确认要删除吗?',
                                function(index) {
                                    var companycode = rowData.companycode;
                                    var sUrl = "@curController/adminexecute?docmd=delete";
                                    var param = {};
                                    param.companycode = companycode;
                                    //post提交
                                    adfCommon.ajaxSyncPost(sUrl,
                                        param,
                                        function(retData) {
                                            adfCommon.alert(retData.RetValue);
                                            if (retData.RetStatus == 103) {
                                                //关闭对话框
                                                layer.close(index);
                                                //数据库删除成功后,在界面上进行删除.
                                                row.del();
                                            }
                                        },
                                        function() {});
                                });
                        }
                        else if(row.event == 'adduser')
                        {
                            var companycode = rowData.companycode;
                            var sUrl = "@curController/AdminAddCompanyUserIndex?type=1&companycode=" + companycode;
                            adfCommon.dlgOpen("新增管理员",sUrl,'100%','100%',function () {});
                        }
                    });

                /*事件*/
                $(".btnSearch").click(function() {
                    reloadData();
                });

                //增加
                $(".add").click(function() {
                    var sUrl = "@curController/admindetail?docmd=add&mccode=@curGlobalModuleCode";
                    curRetDoCmd = "";;
                    adfCommon.dlgOpen("增加信息",
                        sUrl,
                        '100%',
                        '100%',
                        function() {
                            if (curRetDoCmd == "100") {
                                reloadData();
                            }
                        });
                });
            });
    </script>
}
