@using System.Text
@using Adf.Core.Form
@using Adf.FrameWork.Interface.Entity
@using Adf.FrameWork.Service
@using Adf.FrameWork.Service.AsForm
@using Adf.FrameWork.Service.HtmlHelperEx
@using CYQ.Data.Table
@{
    //系统参数
    Layout = "../../../../master/v2/master.treelist.cshtml";
    MDataRow curGlobalUserLogin = ViewBag.GlobalUserLogin ?? new MDataRow();
    String curGlobalUserCode = ViewBag.GlobalUserCode ?? "";
    String curGlobalModuleCode = ViewBag.GlobalModuleCode ?? "";
    MDataTable curGlobalUserPermission = ViewBag.GlobalUserPermission ?? new MDataTable();
    MDataRow curGlobalModuleEntity = ViewBag.GlobalModuleEntity ?? new MDataRow();
    String curGlobalAdminResPath = ViewBag.GlobalAdminResPath ?? "";

    //页面参数    
    String curController = "/renterp/infomng";

}

@section MainHeader
{

    <style>
        .rowThumbnail{width:24px;height:24px;border:1px solid #ccc;cursor:pointer;}
    </style>
}

@section NavTree
{
    <ul id="mainTree" class="ztree" style="margin-top: 3px;"></ul>
}

@section MainQuery
{
    <div class="layui-inline">
        <label class="layui-form-label">标题:</label>
        <div class="layui-inline">
            @Html.LayUiInput("infotitle", "infotitle")
        </div>
    </div>

    <div class="layui-inline">
        <div class="layui-inline">
            @Html.LayUiSamllButton("搜 索", "btnSearch")
        </div>
    </div>
}

@section MainTool
{
    @Html.LayUiSamllButton("增 加", "add")
}

@section MainTableRowTool
{
    @Html.LayUiSetPermissionButton(curGlobalUserPermission, "modify", LayerUiHtmlHelper.GetEvent("modify"), LayUiButtonColor.Normal)
    @Html.LayUiSetPermissionButton(curGlobalUserPermission, "delete", LayerUiHtmlHelper.GetEvent("delete"), LayUiButtonColor.Danger)
    @Html.LayUiSetPermissionButton(curGlobalUserPermission, "copyadd", LayerUiHtmlHelper.GetEvent("copyadd"), LayUiButtonColor.Normal)
}

@section MainBottom
{
    <script>
        var curCateCode = "";
        var curGlobalData = {};
        var sWhere = {};
        layui.config({
            base: '@curGlobalAdminResPath/layuiadmin/lib/' //静态资源所在路径
        }).use(['table', 'layer', 'element', 'adfCommon'], function () {
            var
                table = layui.table,
                layer = layui.layer,
                element = layui.element,
                adfCommon = layui.adfCommon;

            /*函数*/

            //重新加载数据
            function reloadData() {
                //条件
                sWhere.catecode = curCateCode;
                sWhere.infotitle = $("#infotitle").val();

                //重新加载
                adfCommon.reloadStdTable(table, sWhere);
            }
            //树click事件
            function treeClick(event, treeId, treeNode) {
                // 事务处理
                curCateCode = treeNode.catecode;
                //$("#catecode").val("");
                reloadData();
            }

            /*加载树*/
            //加载tree
            adfCommon.loadZtree("mainTree", "/renterp/infocatemng/GetTreeData?mccode=@curGlobalModuleCode&docmd=list", ['catecode'], "catename", "catecode", "parentcode", treeClick, null);


            /*表格信息*/
            var colfmt_smallimage = function (d) {
                var imgurl = d.smallimage;
                var hasimg = 1;
                if ($.isEmptyObject(d.smallimage)) {
                    imgurl = "/style/mobile/renterp/img/nopic.jpg";
                    hasimg = 0;
                }
                return "<img src='" + imgurl + "' data-hasimg='" + hasimg + "' class='rowThumbnail'>";
            }
            //列
            var colInfo = [
                [
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'catecode', width: 150, sort: true, title: '所属分类' }
                    , { field: 'smallimage', width: 60, title: '小图', templet: colfmt_smallimage }
                    , { field: 'infotitle', title: '标题' }
                    , { field: 'subtitle', title: '副标题' }
                    , { field: 'redirecturl', title: '转向地址' }
                    , { field: 'infoorder', width: 80, title: '排序值' }
                    , { width: 170, title: '操作', fixed: 'right', toolbar: '#tableRowTool' } //设置固定
                ]
            ];
            //数据
            var dataUrl = "@curController/getlistdata";
            var pageSize = 20;

            //初始查询条件
            var sWhere = {};
            //初始化
            adfCommon.setStdTable(table, colInfo, dataUrl, pageSize, sWhere, function (row) {
                var rowData = row.data;
                if (row.event == 'modify') {
                    globalData = "";
                    var infocode = rowData.infocode;
                    var sUrl = "@curController/detail?docmd=modify&infocode=" + infocode + "&mccode=@curGlobalModuleCode";
                    adfCommon.dlgOpen("修改信息", sUrl, '100%', '100%', function () {
                        if (globalData == "101") { reloadData(); }
                    });

                } else if (row.event == 'delete') {
                    layer.confirm('确认要删除吗?', function (index) {
                        var infocode = rowData.infocode;
                        var sUrl = "@curController/execute?docmd=delete";
                        var param = {};
                        param.infocode = infocode;
                        adfCommon.ajaxSyncPost(sUrl, param, function (retData) {
                            adfCommon.msgDo(retData.RetValue, function () {
                                if (retData.RetStatus == 103) { row.del(); }
                                //关闭对话框
                                layer.close(index);
                            });
                        }, function () {
                            adfCommon.alert("网络异常");
                        });

                    });
                } else if (row.event == 'copyadd') {
                    layer.confirm('复制新增?', function (index) {
                        var infocode = rowData.infocode;
                        var sUrl = "@curController/execute?docmd=copyadd";
                        var param = {};
                        param.infocode = infocode;
                        console.log(param);
                        adfCommon.ajaxSyncPost(sUrl, param, function (retData) {
                            layer.msg(retData.RetValue);
                            if (retData.RetStatus == 200) { reloadData(); }
                        }, function () {
                            adfCommon.alert("网络异常");
                        });

                    });
                }
            });

            /*事件*/
            $(".btnSearch").click(function () {
                reloadData();
            });

            //增加
            $(".add").click(function () {
                var sUrl = "@curController/detail?docmd=add&catecode=" + curCateCode + "&mccode=@curGlobalModuleCode";;
                adfCommon.dlgOpen("增加信息", sUrl, '100%', '100%', function () {
                    if (globalData == 100) {
                        reloadData();
                    }
                });
            });

            //点击小图放大
            $(document).on("click", ".rowThumbnail", function () {
                var imgsrc = $(this).attr("src");
                var hasimg = $(this).attr("data-hasimg");
                if (hasimg === "0") { layer.msg("图片不存在"); return; }
                var str = "<img src='" + imgsrc + "'>";
                top.layer.open({
                    area: ["90%", "90%"],
                    content: str
                });
            });

            //回车执行查询
            $("body").on("keypress", function (e) {
                if (e.keyCode == 13) {
                    reloadData();
                }
            });
        });


    </script>

}
