@using Adf.FrameWork.Interface.Entity
@using Adf.FrameWork.Service.HtmlHelperEx
@using Adf.FrameWork.Service.LayUi
@using CYQ.Data.Table
@{
    
    /*系统参数*/
    Layout = "../../../../master/v2/master.list.cshtml";
    MDataRow curGlobalApp = ViewBag.GlobalApp ?? new MDataRow();
    MDataRow curGlobalUserLogin = ViewBag.GlobalUserLogin ?? new MDataRow();
    String curGlobalUserCode = ViewBag.GlobalUserCode ?? "";
    String curGlobalModuleCode = ViewBag.GlobalModuleCode ?? "";
    MDataTable curGlobalUserPermission = ViewBag.GlobalUserPermission ?? new MDataTable();
    MDataRow curGlobalModuleEntity = ViewBag.GlobalModuleEntity ?? new MDataRow();
    String curGlobalAdminResPath = ViewBag.GlobalAdminResPath ?? "";

    //页面参数    
    String curController = "/renterp/compensate";
    //自定义参数
}

@section MainHeader
{

}

@section MainQuery
{
    <div class="layui-form">
        <div class="layui-inline">
            <label class="layui-form-label">赔偿单号</label>
            <div class="layui-inline" style="width: 130px;">
                <input type="text" id="compensateno"  class="layui-input" style="padding-right: 10px;"/>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">会员名称</label>
            <div class="layui-inline" style="width: 130px;">
                <input type="text" id="membername"  class="layui-input" style="padding-right: 10px;"/>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">状态</label>
            <div class="layui-inline" style="width: 110px;">
                @Html.LayUiStdSelect(new LayUiSelectAttr()
                                     {
                                         Id = "status",
                                         Texts = "不限|待提交|已提交",
                                         Values = "|0|1"
                                     })
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">赔偿时间</label>
            <div class="layui-inline" style="width: 210px;">
                <input type="text" id="compensatedate"  PlaceHolder = "yyyy-MM-dd 至 yyyy-MM-dd" class="layui-input" style="padding-right: 10px;"/>
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-inline">
                @Html.LayUiSamllButton("搜索", "btnSearch")
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-inline">
                @Html.LayUiSamllButton("刷新", "btnRefresh")
            </div>
        </div>
    </div>
}

@section MainTool
{
    @Html.LayUiSetPermissionButton(curGlobalUserPermission, "add", LayerUiHtmlHelper.GetEvent("add"), LayUiButtonColor.Normal)
}

@section MainTableRowTool
{
    {{# if(d.status == "0"){ }}
    @*待提交*@
    @Html.LayUiSetPermissionButton(curGlobalUserPermission, "subcomit", LayerUiHtmlHelper.GetEvent("subcomit"), LayUiButtonColor.Normal)
    @Html.LayUiSetPermissionButton(curGlobalUserPermission, "modify", LayerUiHtmlHelper.GetEvent("modify"), LayUiButtonColor.Warm)
    @Html.LayUiSetPermissionButton(curGlobalUserPermission, "delete", LayerUiHtmlHelper.GetEvent("delete"), LayUiButtonColor.Danger)
    {{# }else if(d.status == "1"){ }}
        @Html.LayUiSetPermissionButton(curGlobalUserPermission, "view", LayerUiHtmlHelper.GetEvent("view"), LayUiButtonColor.Primary)
    {{# } }}
}

@section MainBottom
{
    <script>
        var curRetDoCmd = "";
        layui.config({
            base: '@curGlobalAdminResPath/layuiadmin/lib/' //静态资源所在路径
        }).use(['table', 'layer', 'element', 'adfCommon', 'laydate'], function() {
            var table = layui.table,
                layer = layui.layer,
                element = layui.element,
                laydate = layui.laydate,
                adfCommon = layui.adfCommon;

            //初始化时间控件
            laydate.render({
                elem: "#compensatedate", range: "至"
            });


            /*函数*/
            //重新加载数据
            function reloadData() {
                //条件
                var sWhere = {};
                sWhere.compensateno = $("#compensateno").val();
                sWhere.membername = $("#membername").val();
                sWhere.status = $("#status").val();
                sWhere.compensatedate = $("#compensatedate").val();
                //重新加载
                adfCommon.reloadStdTable(table, sWhere);
            }


            /*表格信息*/

            var colfmt_compensatedate = function (d) {
                var str = "";
                var ss = d.compensatedate.split(' ');
                if (ss.length > 1) {
                    str = ss[0];
                }
                return str;
            }
            var colfmt_status = function (d) {
                var str = "";
                if (d.status == 0) {
                    str = "<span style='color:blue;'>待提交</span>";
                }
                if (d.status == 1) {
                    str = "<span style='color:green;'>已提交</span>";
                }
                return str;
            }
            var colfmt_ispayed = function (d) {
                var str = "";
                if (d.ispayed == "1") {
                    str = "<span style='color:green;'>是</span>";
                }else{
                    str = "<span style='color:red;'>否</span>";
                }
                return str;
            }
            //列
            var colInfo = [
                [
                    { type: 'checkbox', fixed: 'left' },
                    { field: 'compensateno', width: 180, title: '赔偿单号' },
                    { field: 'membername', width: 150, title: '会员名称' },
                    { field: 'paymoney', width: 90, title: '赔偿金额' },
                    { field: 'compensatedate', width: 110, title: '赔偿时间', templet: colfmt_compensatedate },
                    { field: 'paymenttype', width: 90, title: '支付类型' },
                    { field: 'ispayed', width: 90, title: '是否支付',templet:colfmt_ispayed },
                    { field: 'status', width: 80, title: '状态', templet: colfmt_status },
                    { field: 'remark', title: '备注' },
                    { width: 180, title: '操作', fixed: 'right', toolbar: '#tableRowTool' } //设置固定
                ]
            ];

            //数据
            var dataUrl = "@curController/getlistdata";
            var pageSize = 20;

            //初始查询条件
            var sWhere = {};
            //初始化
            adfCommon.setStdTable(table, colInfo, dataUrl, pageSize, sWhere, function(row) {
                var rowData = row.data;
                if (row.event == 'modify') {
                    var keycode = rowData.compensatecode;
                  
                    var sUrl = "@curController/detail?docmd=modify&keycode=" + keycode + "&mccode=@curGlobalModuleCode";
                    adfCommon.dlgOpen("修改赔偿信息", sUrl, '100%', '100%', function() {
                        if (globalData.RetStatus == 101) {
                            reloadData();
                        }
                    });
                } else if (row.event == 'delete') {
                    layer.confirm('确认要删除吗?', function (index) {
                        layer.close(index);
                        var keycode = rowData.compensatecode;
                        var sUrl = "@curController/execute?docmd=delete";
                        var param = {};
                        param.keycode = keycode;
                        adfCommon.ajaxAsyncPost(sUrl, param, function(retData) {
                            adfCommon.alert(retData.RetValue);
                            if (retData.RetStatus == 200) {
                                //数据库删除成功后,在界面上进行删除.
                                row.del();
                            }
                        }, function() {});
                    });
                } else if (row.event == 'subcomit') {
                    layer.confirm('确认提交赔偿单吗?', function (index) {
                        layer.close(index);
                        var keycode = rowData.compensatecode;
                        var sUrl = "@curController/execute?docmd=subcomit";
                        var param = {};
                        param.keycode = keycode;
                        var loadIndex = layer.load(2);
                        adfCommon.ajaxAsyncPost(sUrl, param, function(retData) {
                            layer.close(loadIndex);
                            if (retData.RetStatus != 400) {
                                adfCommon.alert("提交成功");
                                reloadData();
                            } else {
                                adfCommon.alert(retData.RetValue);
                            }
                        }, function() {

                        });
                    });
                } else if (row.event == 'view') {
                    var keycode = rowData.compensatecode;
                    var sUrl = "@curController/detail?docmd=view&mccode=@curGlobalModuleCode&keycode=" + keycode;
                    adfCommon.dlgOpen("查看赔偿单据", sUrl, '100%', '100%', function () { });
                }
            });

            /*事件*/
            $(".btnSearch").click(function() {
                reloadData();
            });

            //增加
            $(".add").click(function() {
                var sUrl = "@curController/detail?docmd=add&mccode=@curGlobalModuleCode";
                adfCommon.dlgOpen("增加赔偿信息", sUrl, '100%', '100%', function() {
                    if (globalData.RetStatus == "100") {
                        reloadData();
                    }
                });
            });

            //刷新数据
            $(".btnRefresh").on("click", function() {
                reloadData();
            });
            //回车执行查询
            $("body").on("keypress", function(e) {
                if (e.keyCode == 13) {
                    reloadData();
                }
            });
        });

    </script>
}
