@using Adf.FrameWork.Interface.Entity
@using Adf.FrameWork.Service.HtmlHelperEx
@using CYQ.Data.Table
@using Adf.FrameWork.Service.LayUi
@{
    //2018.10.16 创建 侯鑫辉
    //企业用户列表页

    /*系统参数*/
    Layout = "../master/master.list.cshtml";
    MDataRow curGlobalApp = ViewBag.GlobalApp ?? new MDataRow();
    MDataRow curGlobalUserLogin = ViewBag.GlobalUserLogin ?? new MDataRow();
    String curGlobalUserCode = ViewBag.GlobalUserCode ?? "";
    String curGlobalModuleCode = ViewBag.GlobalModuleCode ?? "";
    MDataTable curGlobalUserPermission = ViewBag.GlobalUserPermission ?? new MDataTable();
    MDataRow curGlobalModuleEntity = ViewBag.GlobalModuleEntity ?? new MDataRow();
    String curGlobalAdminResPath = ViewBag.GlobalAdminResPath ?? "";

    /*页面参数*/
    String curController = "/ent/companyuser";
}

@section MainQuery
{
    <div class="layui-inline">
        <label class="layui-form-label">姓名:</label>
        <div class="layui-inline">
            @Html.LayUiStdInput(new LayUiInputAttr() { Id = "username" })
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">手机号:</label>
        <div class="layui-inline">
            @Html.LayUiStdInput(new LayUiInputAttr() { Id = "cellphone" })
        </div>
    </div>
    <div class="layui-inline">
        <div class="layui-inline">
            @Html.LayUiSamllButton("搜 索", "btnSearch")
        </div>
    </div>
}

@section MainTool
{
    @Html.LayUiStdButton(new LayUiButtonAttr()
{
    Caption = "增加",
    ClassName = "add",
    LayUiButtonSize = LayUiButtonSize.Sm,
    LayUiButtonTheme = LayUiButtonTheme.Normal,
    ExtHtmlAttributes = new { lay_event = "add" }
})
}

@section MainTableRowTool
{
    @Html.LayUiStdButton(new LayUiButtonAttr()
{
    Caption = "修改",
    ClassName = "modify",
    LayUiButtonSize = LayUiButtonSize.Sm,
    LayUiButtonTheme = LayUiButtonTheme.Normal,
    ExtHtmlAttributes = new { lay_event = "modify" }
})
    @Html.LayUiStdButton(new LayUiButtonAttr()
{
    Caption = "设置角色",
    ClassName = "setrole",
    LayUiButtonSize = LayUiButtonSize.Sm,
    LayUiButtonTheme = LayUiButtonTheme.Normal,
    ExtHtmlAttributes = new { lay_event = "setrole" }
})
    @Html.LayUiStdButton(new LayUiButtonAttr()
{
    Caption = "删除",
    ClassName = "delete",
    LayUiButtonSize = LayUiButtonSize.Sm,
    LayUiButtonTheme = LayUiButtonTheme.Danger,
    ExtHtmlAttributes = new { lay_event = "delete" }
})
}

@section MainBottom
{
    <script>
        var curRetDoCmd = "";

        layui.config({
            base: '@curGlobalAdminResPath/layuiadmin/lib/' //静态资源所在路径
        }).use(['table', 'layer', 'element', 'adfCommon'],
            function() {
                var table = layui.table,
                    layer = layui.layer,
                    element = layui.element,
                    adfCommon = layui.adfCommon;

                /*函数*/
                //重新加载数据
                function reloadData() {
                    //查询条件
                    var sWhere = {};
                    sWhere.username = escape($("#username").val());
                    sWhere.cellphone = escape($("#cellphone").val());

                    //重新加载
                    adfCommon.reloadStdTable(table, sWhere);
                }

                var colfmt_status = function(d) {
                    var str = "";
                    if (d.status == "0") {
                        str = "<span style='color:red;'>禁用</span>";
                    } else if (d.status == "1") {
                        str = "<span style='color:green;'>启用</span>";
                    }
                    return str;
                }
                //var colfmt_isadmin = function(d) {
                //    var str = "";
                //    if (d.isadmin == "0") {
                //        str = "<span style='color:red;'>否</span>";
                //    } else if (d.isadmin == "1") {
                //        str = "<span style='color:green;'>是</span>";
                //    }
                //    return str;
                //}
                var colfmt_iscreateproject = function(d) {
                    var str = "";
                    if (d.iscreateproject == "0") {
                        str = "<span style='color:red;'>不允许</span>";
                    } else if (d.iscreateproject == "1") {
                        str = "<span style='color:green;'>允许</span>";
                    }
                    return str;
                }

                /*表格信息*/
                //列
                var colInfo = [
                    [
                        { type: 'checkbox', fixed: 'left' },
                        { field: 'username', title: '姓名' },
                        { field: 'uid', title: '账号' },
                        { field: 'cellphone',  title: '手机号' },
                        { field: 'remark',  title: '备注' },
                        { field: 'status',  title: '状态', templet: colfmt_status },
                        //{ field: 'isadmin',  title: '是否管理员', templet: colfmt_isadmin },
                        { field: 'iscreateproject',  title: '是否有权建项目', templet: colfmt_iscreateproject },
                        { width: 220, title: '操作', fixed: 'right', toolbar: '#tableRowTool' } //设置固定
                    ]
                ];


                //数据（通过控制器找到getlistdata方法 获取数据）
                var dataUrl = "@curController/getlistdata";

                //页面显示20条信息
                var pageSize = 20;

                //初始查询条件
                var sWhere = {};

                //初始化
                adfCommon.setStdTable(table,
                    colInfo,
                    dataUrl,
                    pageSize,
                    sWhere,
                    function(row) {
                        var rowData = row.data;
                        if (row.event == 'modify') {
                            curRetDoCmd = "";
                            var usercode = rowData.usercode;
                            var sUrl = "@curController/detail?docmd=modify&mccode=@curGlobalModuleCode&usercode=" +
                                usercode;
                            adfCommon.dlgOpen("修改信息",
                                sUrl,
                                '100%',
                                '100%',
                                function() {
                                    if (curRetDoCmd == "101") {
                                        reloadData();
                                    }
                                });
                        }  else if (row.event == 'setrole') {
                            curRetDoCmd = "";
                            var usercode = rowData.usercode;
                            var sUrl = "@curController/detail?docmd=setrole&mccode=@curGlobalModuleCode&usercode=" +
                                usercode;
                            adfCommon.dlgOpen("设置角色",
                                sUrl,
                                '100%',
                                '100%',
                                function() {
                                    if (curRetDoCmd == "100") {
                                        reloadData();
                                    }
                                });
                        }else if (row.event == 'delete') {
                            layer.confirm('确认要删除吗?',
                                function(index) {
                                    var usercode = rowData.usercode;
                                    var sUrl = "@curController/execute?docmd=delete";
                                    var param = {};
                                    param.usercode = usercode;
                                    //post提交
                                    adfCommon.ajaxSyncPost(sUrl,
                                        param,
                                        function(retData) {
                                            adfCommon.alert(retData.RetValue);
                                            if (retData.RetStatus == 103) {
                                                //关闭对话框
                                                layer.close(index);
                                                //数据库删除成功后,在界面上进行删除.
                                                row.del();
                                            }
                                        },
                                        function() {});
                                });
                        }
                    });

                /*事件*/
                $(".btnSearch").click(function () {
                    reloadData();
                });

                //增加
                $(".add").click(function() {
                    var sUrl = "@curController/detail?docmd=add&mccode=@curGlobalModuleCode";
                    curRetDoCmd = "";;
                    adfCommon.dlgOpen("增加信息",
                        sUrl,
                        '100%',
                        '100%',
                        function() {
                            if (curRetDoCmd == "100") {
                                reloadData();
                            }
                        });
                });
            });
    </script>
}
