@using System.Text
@using Adf.Core.Form
@using Adf.FrameWork.Service
@using Adf.FrameWork.Service.AsForm
@using Adf.FrameWork.Service.HtmlHelperEx
@using CYQ.Data.Table
@{
    //系统参数
    Layout = "../../../../master/v2/master.detail.cshtml";
    MDataRow curGlobalUserLogin = ViewBag.GlobalUserLogin ?? new MDataRow();
    String curGlobalUserCode = ViewBag.GlobalUserCode ?? "";
    String curGlobalModuleCode = ViewBag.GlobalModuleCode ?? "";
    MDataTable curGlobalUserPermission = ViewBag.GlobalUserPermission ?? new MDataTable();
    MDataRow curGlobalModuleEntity = ViewBag.GlobalModuleEntity ?? new MDataRow();
    String curGlobalAdminResPath = ViewBag.GlobalAdminResPath ?? "";

    //当前业务
    String curDoCmd = ViewBag.CurrentCmd;
    String curController = "/renterp/so";
    MDataRow curDrMainEntity = ViewBag.MainEntity ?? new MDataRow();
    
}

@section MainHeader
{

}

@section FormBody
{

    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-header">
                <div class="layui-card-header-title">销售订单</div>
            </div>
            <div class="layui-card-body" style="padding: 24px;">
                <div class="layui-row layui-col-space30">
                    <div class="layui-col-xs12 layui-col-md4">
                        <div class="layui-form-item">
                            <div class="layui-row">
                                <div class="layui-col-md3">订单号：</div>
                                <div class="layui-col-md9">
                                    @curDrMainEntity.Get("sono", "")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-md4">
                        <div class="layui-form-item">
                            <div class="layui-row">
                                <div class="layui-col-md3">下单时间：</div>
                                <div class="layui-col-md9">
                                    @curDrMainEntity.Get("createdatetime", "")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-md4">
                        <div class="layui-form-item">
                            <div class="layui-row">
                                <div class="layui-col-md3">购买人：</div>
                                <div class="layui-col-md9">
                                    @curDrMainEntity.Get("membername", "")
                                    <input type="hidden" id="membername" name="membername" value="@curDrMainEntity.Get("membername", "")" />
                                    <input type="hidden" id="phoneno" name="phoneno" value="@curDrMainEntity.Get("phoneno", "")" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space30">
                    <div class="layui-col-xs12 layui-col-md4">
                        <div class="layui-form-item">
                            <div class="layui-row">
                                <div class="layui-col-md3">销售人：</div>
                                <div class="layui-col-md9">
                                    @curDrMainEntity.Get("saleusername", "")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-md4">
                        <div class="layui-form-item">
                            <div class="layui-row">
                                <div class="layui-col-md3">订单金额：</div>
                                <div class="layui-col-md9">
                                    @curDrMainEntity.Get("summoney", "")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-md4">
                        <div class="layui-form-item">
                            <div class="layui-row">
                                <div class="layui-col-md3">是否支付：</div>
                                <div class="layui-col-md9">
                                    @curDrMainEntity.Get("ispayedname", "")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space30">
                    <div class="layui-col-xs12 layui-col-md4">
                        <div class="layui-form-item">
                            <div class="layui-row">
                                <div class="layui-col-md3">支付金额：</div>
                                <div class="layui-col-md9">
                                    @curDrMainEntity.Get("paymoney", "")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space30">
                    <div class="layui-col-xs12 layui-col-md12">
                        <div class="layui-form-item">
                            <div class="layui-row">
                                <div class="layui-col-md1">发货备注：</div>
                                <div class="layui-col-md11">
                                    <input type="text" name="memoinfo" id="memoinfo" value="" lay-verify="title" autocomplete="off" placeholder="请输入备注" class="layui-input">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            
            


            <!--多从表-->
            <div class="layui-tab">
                <ul class="layui-tab-title">
                    <li class="layui-this">产品明细信息</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div class="layui-row">
                            <div class="layui-col-md9"></div>
                            <div class="layui-col-md3">@Html.LayUiSamllButton("选择产品", "btnSelectSku")</div>
                        </div>
                        <table class="layui-table" id="detailInfo">
                            <colgroup>
                                <col width="150">
                                <col width="150">
                                <col width="150">
                                <col width="200">
                                <col width="150">
                                <col width="150">
                                <col width="200">
                                <col width="150">
                                <col width="150">
                                <col width="150">
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>操作</th>
                                    <th>产品名称</th>
                                    <th>规格</th>
                                    <th>库存数量</th>
                                    <th>购买数量</th>
                                    <th>已发数量</th>
                                    <th>发货数量</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>



                    </div>
                </div>
            </div>

        </div>
    </div>

    @Html.ExHidden("socode", curDrMainEntity.Get("socode", ""))

    @Html.ExHidden("detailListCount", "0")
}

@section MainBottom
{

    <script type="text/html" id="tplRowInfo">
        <tr>
            <td>
                @Html.LayUiSamllButton("删除", "btnDeleteRow")
            </td>
            <td>so_productname</td>
            <td>so_spec</td>
            <td>so_stocknum</td>
            <td>so_qty</td>
            <td>so_sendqty</td>
            <td>
                <input type="text" name="sendnum[]" lay-verify="factprice" value="0" autocomplete="off" placeholder="发货数量" class="layui-input">
                <input type="hidden" name="skucode[]" value="so_skucode" />
                <input type="hidden" name="sodetailcode[]" value="so_detailcode" />
                <input type="hidden" name="socode[]" value="so_socode" />
            </td>
        </tr>

    </script>

    <script>



        layui.config({
            base: '@curGlobalAdminResPath/layuiadmin/lib/' //静态资源所在路径
        }).use(['layer', 'form', 'adfCommon', 'element', 'laydate'], function () {
            var layer = layui.layer,
                form = layui.form,
                laydate = layui.laydate,
                element = layui.element,
                adfCommon = layui.adfCommon;

            function initLayDate() {
                lay('.curLayDate').each(function () {
                    laydate.render({
                        elem: this
                      , trigger: 'click'
                    });
                });
            }

            initLayDate();

            //自定义验证
            form.verify({
                //仓库编码
                productname: function (value, item) {
                    if (value === "") {
                        return "仓库编码不能为空";
                    }
                }
            });


            //提交表单
            form.on('submit(btnSubmit)', function (obj) {

                var curDetailListCount = $("#detailInfo>tbody>tr").length;
                //alert(curDetailListCount);
                //$("#detailListCount").val(curDetailListCount);
                //form.render();
                var sUrl = "@curController/execute?docmd=@curDoCmd";
                var param = obj.field;
                param.detailListCount = curDetailListCount;
                console.log(param);
                adfCommon.ajaxSyncPost(sUrl, param, function (retData) {
                    console.log(retData.RetValue);
                    adfCommon.msgDo(retData.RetValue, function () {
                        if (retData.RetStatus == 100 || retData.RetStatus == 101) {
                            //刷新父级数据
                            parent.curRetDoCmd = retData.RetStatus;
                            //关闭当前窗口
                            adfCommon.dlgClose();
                        }
                    });
                }, function () {
                    adfCommon.alert("网络存在异常,请重试");
                });
            });

            $("#btnClose").click(function () {
                adfCommon.dlgClose();
            });

            //增加行
            $(".btnSelectSku").click(function () {
                var tplInfo = $("#tplRowInfo").html();
                var sUrl = "@curController/SelectUnSendProduct?socode=@curDrMainEntity.Get("socode", "")";
                var sTitle = "选择产品";
                adfCommon.dlgOpen(sTitle, sUrl, "90%", "90%", function () {
                    var skuInfos = globalData;
                    for (var i = 0; i < skuInfos.length; i++) {
                        var sku = skuInfos[i];
                        var rowInfo = tplInfo;

                        //得到规格
                        rowInfo = rowInfo.replace("so_productname", sku.productname);
                        rowInfo = rowInfo.replace("so_saleprice", sku.saleprice);
                        rowInfo = rowInfo.replace("so_spec", sku.skuspec);
                        rowInfo = rowInfo.replace("so_qty", sku.qty);
                        rowInfo = rowInfo.replace("so_sendqty", sku.sendqty1);
                        rowInfo = rowInfo.replace("so_socode", sku.socode);
                        rowInfo = rowInfo.replace("so_detailcode", sku.sodetailcode);
                        rowInfo = rowInfo.replace("so_skucode", sku.skucode);
                        rowInfo = rowInfo.replace("so_stocknum", sku.stocknum);

                        $("#detailInfo>tbody").append(rowInfo);
                    }

                    //初始化日期事件
                    initLayDate();

                    //提交前重新刷新
                    form.render();

                });

            });

            $("body").on("click", ".btnDeleteRow", function () {
                $(this).parent().parent().remove();
            });

        });
    </script>
}
